<body>
	<article>
	   <!-- START OF MAIN -->
	    <section class="main">
	        <div class="wrap">
	            <h1>We handle the chores</br>
	            of closing new tenants.</h1></br>
	            <h4><strong>Property management made simple.</strong>100% Free for Landlords, Managers and</br>
	            Brokers to initiate, process, run background checks and manage leases.</h4></br>
	            <a href="#sign_up">Get a Free Account</a>
	        </div>
	    </section>
	    <!--End of main-->

	   <!-- START OF EXPLANATION -->
	    <section class="explanation"> 
	        <div class="wrap">
	            <div class="image">
	            <h3><span>How it Works</span></br> 
	            Process Rental Applications</h3></br>
	            <h5>Our system allows your renters to apply anywhere, anytime.</h5></p>
	            <p>While observing local and federal compliance laws. LeaseMaid allows individual landlords,</br>
	            real estate agents and property managers to create a free account, personalized to</br>
	            collect your proper listing info and easily identify required disclosures - All this in one,</br>
	            single online application.</br>
	            <a href="#sign_up">Get a Free Account</a></p>
	            </div>
	            <%= image_tag("computer.jpg", :alt => "computer", :class => "computer") %>
				<%= image_tag("Explanation.jpg", :alt => "Explanation", :class => "flow") %>
	        </div>
	    </section>
	    <!--End of How it Works-->

	    <!-- START OF ASSURANCE -->
	   <section class="assurance"> 
	        <div class="wrap">
	            <h2><strong>Renters and Landlords, <span><em>rest assured.</em></span></strong></h2>
	            <p>We verify every property and will notify the authorities for you. Say goodbye to the days of bogus</br>
	            Craigslist listings and headaches - <!--CHANG TO EM DASH-->we've got you covered. LeaseMaid gives all of our users peace of mind knowing</br>
	            that each property being listed, rented and processed under the strictest standards and offer our users</br>
	            <strong>all of the features they would expect:</strong></p> 
	        </div>
	    </section>
	   <!-- End of assurance-->
	   <!-- START OF FEATURES LIST -->
	   <section class="features" id="features">
	    <div class="wrap">
		<%= image_tag("Line1-Features.gif", :alt => "Features") %>
	        <ul>
	            <li><span><b>Verified Listings</b></span></br>
	            We verify property and will</br>
	            notify the authorities for you. Say goodbye</br>
	            to the days of bogus Craigslist listings and</br>
	            headaches - we've got you covered.
	            </li>
	            <li><span><b>Security</b></span></br>
	            Your privacy and security are our</br>
	            highest concern. Control panels and</br>
	            payments are delivered via SSL to make</br>
	            sure your information is safe. </br>
	            </li>
	            <li><span><b>Messaging</b></span></br>  
	            LeaseMaid helps establish optimal</br>
	            communication between Landlords and</br>
	            Clients with messaging built right in!</br>
	            </li>
	            <li><span><b>Record Keeping</b></span></br>
	            All documentation, leases and</br>
	            communication are stored where they're</br>
	            easily accessible for quick reference</br>
	            </li>
				<%= image_tag("Line2-Features.gif", :alt => "Features", :class => "Line2") %>
	            <li><span><b>Up-to-Date Contact</br>Information</b></span></br>
	            The most accurate information</br>
	            about Landlords and Renters is kept</br>
	            so that each part can get a hold of</br>
	            each other when needed</br>
	            </li>
	            <li><span><b>Save In-Progress</br>Applications</b></span></br>
	            Landlords can create their listings,</br>
	            then generate short links so their</br>
	            applications can easily be linked</br>
	            from brokerage sites.</br>
	            </li>
	            <li><span><b>Generate</br>Click-thru Links</b></span></br>
	            Landlords can create their listings,</br>
	            then generate short links so their</br>
	            applications can be easily linked</br>
	            from brokerage sites.</br>
	            </li>
	            <li><span><b>Socially Connected</br>for Ease of Use</b></span></br>
	            Use your Facebook account to get your</br>
	            LeaseMaid account up and running</br>
	            quickly and with minimal hassle.</br>
	            </li>
	        </ul>
	    </div>
	   </section>
	   <!-- End of features list section-->

	   <!-- START OF SIGN UP -->
	   <!-- <section class="sign_up" id="sign_up">
	   	    <div class="wrap">
	   	        <div class="left">
	   		<h3>Sound Good? Get a FREE account!</h3><br>
	   	        <p>We are landlords and brokers ourselves. While</br> 
	   	        brainstorming ways to make our company more</br>
	   	        efficient (a.k.a. free up our time), we came up</br>
	   	        with the initial concept for LeaseMaid.</p></br> 
	   	            <ul>
	   			<li>100% Free For Landlords, Managers and Brokers</li>
	   			<li>Automate the tasks you do with each lease</li>
	   			<li>Secure, organized document storage</li>
	   	                <li>Customer service that rocks</li>
	   		    </ul>
	   	        </div>
	   	         <div id="containers">
	   	             <input type="text" id="First Name" placeholder="First Name"></br>
	   	             <input type="text" id="Last Name" placeholder="Last Name"></br>
	   	             <input type="text" id="Email Address" placeholder="Email Address"></br>
	   	             <input type="text" id="Password" placeholder="Password"></br>
	   	             <input type="text" id="Confirm Password" placeholder="Confirm Password"></br>
	   	         <h6>Who are you in relation to the property?</h6>
	   	           </div>
	   	        <div id="radio">
	   	            <label class="home"><input type="radio" name="radio" value="I'm a Landlord">I'm a Landlord</label>
	   	            <label class="home"><input type="radio" name="radio" value="I'm a Broker or Agent">I'm a Broker or Agent</label></br>
	   	            <label class="home"><input type="radio" name="radio" value="I'm a Property Manager">I'm a Property Manager</label>
	   	            <label class="home"><input type="radio" name="radio" value="I'm a Renter">I'm a Renter</label>
	   	        </div>
	   	    </div>
	   	   </section> -->
	   <!--End of sign up section-->
	</article>
	